body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
span{
    color: #0794F8;
}
#header{
    display: flex;
}
h1{
    word-spacing: 1px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(#0794F8, #079498);
    padding: 10px 20px;
}
a{
    color: #fff;
    border-radius: 25%;
}
.left-side{
    width: 70%;
    padding-left: 5%;
    padding-top: 5%;
}
.right-side img{
    padding-left: 20%;
    width: 50%
}
#about-us{
    display: flex;
    background-image: url(photos/bg-2.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    color: #C3957E;
    text-align: center;
    padding-bottom: 5%;
}
.img-side{
    padding-top: 6%;
}
.word-side{
    padding-top: 6%;
}
#about-us .word-side p{
    text-align: center;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(#CA8134, #C3957E);
    padding: 10px 20px;
   
}
.word-side a{
    display: inline-block;
    margin-left: 45%;
    
}
.menu{
    text-align: center;
    padding-bottom: 2%;
    padding-top: 3%;
}
.menu h1{
    color: #C3957E;
}
#recipie{
    display: flex;
}
.recipie-menu{
    padding: 10px;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 3px 7px 10px 10px grey;
    border-radius: 10px;
}

